In [ ]:
# Answer1.
A database is a structured collection of data that is organized and stored in a computer system. 
It is designed to efficiently manage and store data so that it can be easily accessed, manipulated,
and updated as needed. Databases can be used in various industries and applications, from online
banking to e-commerce to healthcare.
SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases. Here are the differences between the two:

Data model:
SQL databases use a structured data model, where data is organized into tables with rows and columns. Each row represents a record, and each column represents a field. The relationships between tables are defined by keys. In contrast, NoSQL databases use an unstructured data model that does not use tables, rows, and columns.

Scalability:
SQL databases are vertically scalable, meaning that they can be scaled up by adding more hardware resources (such as RAM, CPU, or storage) to handle increased traffic or larger datasets. NoSQL databases are horizontally scalable, meaning that they can be scaled out by adding more servers or nodes to distribute the load and improve performance.

Schema:
SQL databases use a rigid schema that defines the structure of the data and enforces data integrity. Changing the schema requires modifying the database schema and migrating the data, which can be time-consuming and complex. NoSQL databases are schema-less or schema-flexible, meaning that the data structure can be modified without changing the schema or migrating the data.

Query language:
SQL databases use the SQL language to manipulate and query data. SQL is a standard language used by many databases, and it is well-known and widely used by developers and analysts. NoSQL databases use their own query languages or APIs, which can be less standardized and less familiar to developers.

In [ ]:
# Answer2.
DDL (Data Definition Language) is a set of SQL commands that allow you to define and manipulate 
the structure of database objects, such as tables, indexes, views, and procedures. DDL statements
include commands such as CREATE, DROP, TRUNCATE, and ALTER, each with their own specific purpose:
    
CREATE: This command is used to create a new database object, such as a table or view. 
For example, the following SQL statement creates a new table called "employees" with columns
for the employee ID, name, and department:
    CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   department VARCHAR(50)
);
DROP: This command is used to delete an existing database object.
    For example, the following SQL statement drops the "employees" table:
        DROP TABLE employees; 
        
TRUNCATE: This command is used to delete all data from an existing table, but leaves the table
structure intact. For example, the following SQL statement truncates the "employees" table:
    TRUNCATE TABLE employees;
    
ALTER: This command is used to modify the structure of an existing database object. 
For example, the following SQL statement adds a new column called "salary" to the "employees" table
    ALTER TABLE employees ADD COLUMN salary INT;

In [ ]:
# Answer3. 
DML (Data Manipulation Language) is a set of SQL commands that allow you to manipulate the data 
within a database. DML statements include commands such as INSERT, UPDATE, and DELETE, each with 
their own specific purpose: 
INSERT: This command is used to insert new data into a table. For example, the following SQL 
    statement inserts a new record into the "employees" table:
        INSERT INTO employees (id, name, department, salary) 
        VALUES (1, 'John Doe', 'Marketing', 50000);
        
UPDATE: This command is used to modify existing data within a table. 
For example, the following SQL statement updates the salary of the employee with the ID of 1:
    UPDATE employees SET salary = 60000 WHERE id = 1;
    
DELETE: This command is used to delete data from a table.
For example, the following SQL statement deletes the record for the employee with the ID of 1:
    DELETE FROM employees WHERE id = 1;

In [ ]:
# Answer4.
DQL (Data Query Language) is a set of SQL commands that allow you to retrieve data from a database.
DQL statements include commands such as SELECT, which is the most commonly used DQL command.
The SELECT command is used to retrieve data from one or more tables. 
For example, the following SQL statement retrieves all records from the "employees" table:
SELECT * FROM employees;

In [ ]:
# Answer5
A primary key is a field or combination of fields in a database table that uniquely identifies
each record in the table. It is a constraint that enforces the uniqueness and non-nullability of 
the field(s) designated as the primary key. Primary keys are used to maintain data integrity and 
consistency in the database, and they are also used to establish relationships between tables.

A foreign key is a field or combination of fields in a database table that refers to the primary 
key of another table. It is used to establish a relationship between two tables by ensuring that
the values in the foreign key match the values in the primary key of the related table. The 
foreign key constraint ensures that the data in the table is consistent and reflects the 
relationships between the tables.

In [1]:
# Answer6.
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM customers")

# fetch the results
results = mycursor.fetchall()

# print the results
for row in results:
  print(row)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [ ]:
# Answer7.
The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: This clause specifies the table(s) from which the data is to be retrieved.

WHERE clause: This clause specifies the condition(s) that the data must meet in order to be retrieved. It is applied after the FROM clause.

GROUP BY clause: This clause groups the data by one or more columns. It is applied after the WHERE clause.

HAVING clause: This clause specifies the condition(s) that the grouped data must meet in order to be retrieved. It is applied after the GROUP BY clause.

SELECT clause: This clause specifies the columns that are to be retrieved. It is applied after the GROUP BY and HAVING clauses.

ORDER BY clause: This clause sorts the retrieved data by one or more columns. It is applied after the SELECT clause.

LIMIT clause: This clause limits the number of rows that are returned. It is applied after the ORDER BY clause