In [17]:
# Answer1.
import pandas as pd

data = {'course_name':['Data Science','Machine Learning','Big Data','Data Engineer'],'duration':[2,3,6,4]}

df = pd.DataFrame(data)

print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
# Answer2.
'''The loc and iloc methods in pandas DataFrame are used to access data by label and integer position, respectively.

loc is used to access data using labels. You can use it to select rows and columns of a DataFrame by their labels. 
The syntax for loc is df.loc[row_labels, column_labels]. Here, row_labels can be a single label or
a list of labels, and column_labels can be a single label or a list of labels. 
For example, df.loc[2, 'duration'] selects the value in the 'duration' column of the row with 
label 2.

iloc is used to access data using integer positions. You can use it to select rows and columns of 
a DataFrame by their integer positions. The syntax for iloc is df.iloc[row_positions, 
column_positions]. Here, row_positions can be a single position or a list of positions, and 
column_positions can be a single position or a list of positions. 
For example, df.iloc[1, 0] selects the value in the first column of the second row.

In summary, loc is used to access data using labels, while iloc is used to access data using 
integer positions.'''

In [21]:
# Answer3.
import pandas as pd
import numpy as np

columns = ['column_1','column_2','column_3','column_4','column_5','column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6),columns=columns, index= indices)

# Reindex the DataFrame
new_df = df1.reindex([3, 0, 1, 2])

# Access rows using loc and iloc
print(new_df.loc[2])
print(new_df.iloc[2])

'''  As we can see, there is a difference between the output of new_df.loc[2] and new_df.iloc[2].

new_df.loc[2] selects the row with the label 2, which is now the third row in the reindexed
DataFrame. Therefore, it returns the values in the row with index label 2, i.e., the row 1.

new_df.iloc[2] selects the row with the integer position 2, which is the third row in the 
reindexed DataFrame. Therefore, it returns the values in the row with the index 2.

So, the difference is due to the fact that loc and iloc are selecting data based on different
criteria, i.e., labels and integer positions, respectively.'''

column_1    0.333251
column_2    0.288500
column_3    0.013525
column_4    0.545812
column_5    0.403399
column_6    0.488502
Name: 2, dtype: float64
column_1    0.549959
column_2    0.833479
column_3    0.351537
column_4    0.573647
column_5    0.073219
column_6    0.003389
Name: 1, dtype: float64

In [22]:
# Answer4.
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Find the mean of each column
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

# Find the standard deviation of column_2
column_2_std = df1['column_2'].std()
print("Standard deviation of column_2:")
print(column_2_std)

Mean of each column:
column_1    0.520686
column_2    0.588803
column_3    0.519976
column_4    0.683332
column_5    0.507403
column_6    0.313019
dtype: float64
Standard deviation of column_2:
0.1699005146623163

In [23]:
# Answer5.
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace data in second row of column_1 and column_2 with a string variable
df1.at[2, 'column_1'] = 'Hello'
df1.at[2, 'column_2'] = 'World'

# Find the mean of column_1 and column_2
try:
    column_1_mean = df1['column_1'].mean()
    column_2_mean = df1['column_2'].mean()
    print("Mean of column_1:", column_1_mean)
    print("Mean of column_2:", column_2_mean)
except TypeError as e:
    print("Error:", e)
    
''' As we can see from the output, we get an error when trying to calculate the mean of column_1
and column_2. This is because we have replaced the numerical data in the second row of these 
columns with string values, and we cannot calculate the mean of a column containing strings.

To avoid this error, we need to make sure that the data in the DataFrame is of the same type. 
One way to do this is to convert the string data back to numerical data before calculating the 
mean. Another way is to replace the string data with NaN values, which can be ignored when 
calculating the mean.

'''

ValueError: could not convert string to float: 'Hello'

In [ ]:
# Answer6.

''' In Python, a window function is a way to perform calculations on a subset of data in a larger dataset, where the subset is defined by a sliding window of a fixed size. The window function operates on this subset of data, performing some operation on the data within the window and producing a new value for each window.

There are several types of window functions available in Python, including:

Rolling: The rolling function applies a rolling window to a pandas DataFrame or Series, allowing you to perform rolling calculations such as rolling mean, rolling sum, and so on.

Expanding: The expanding function computes an expanding window of a pandas DataFrame or Series, where the window size starts at a minimum and expands until it encompasses all the data points in the dataset.

GroupBy: The groupby function groups data in a pandas DataFrame or Series based on one or more columns, allowing you to perform group-level calculations such as mean, sum, or count.

Aggregation: The aggregation function is used with groupby to aggregate data in a pandas DataFrame or Series using one or more functions, such as mean, sum, or count.

Ranking: The ranking function assigns a rank to each element in a pandas DataFrame or Series based on a specified column or set of columns.

ExpandingWindow: The expandingwindow function applies an expanding window to a pandas DataFrame or Series, where the window size starts at a minimum and expands until it encompasses all the data points in the dataset. It then applies a function to each expanding window.

ExponentialMovingAverage: The exponentialmovingaverage function computes the exponential moving average of a pandas DataFrame or Series, where the weight given to each data point in the window decreases exponentially as the distance from the current point increases.

Shift: The shift function shifts the data in a pandas DataFrame or Series by a specified number of time periods, either forward or backward.

These are just a few examples of the types of window functions available in Python. The choice of which function to use depends on the nature of the data and the specific analysis or calculation being performed.'''

In [24]:
# Answer7.
import datetime

now = datetime.datetime.now()

print("Month: " + str(now.month))
print("Year: " + str(now.year))

Month: 4
Year: 2023

In [25]:
# Answer8.
import pandas as pd

# Prompt the user to enter the first date
date1_str = input("Enter the first date (YYYY-MM-DD): ")

# Prompt the user to enter the second date
date2_str = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to Pandas datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the difference between the two dates
delta = date2 - date1

# Extract the number of days, hours, and minutes from the delta
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds % 3600) // 60

# Display the result
print(f"The difference between {date1_str} and {date2_str} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2023-04-26
Enter the second date (YYYY-MM-DD): 2021-04-01
The difference between 2023-04-26 and 2021-04-01 is -755 days, 0 hours, and 0 minutes.

In [ ]:
# Answer9.
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Prompt the user to enter the column name
column_name = input("Enter the column name: ")

# Prompt the user to enter the category order as a comma-separated list
category_order_str = input("Enter the category order (comma-separated): ")

# Split the category order string into a list of categories
category_order = category_order_str.split(",")

# Read the CSV file into a Pandas dataframe
data = pd.read_csv(file_path)

# Convert the specified column to a categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# Sort the data by the specified column
sorted_data = data.sort_values(by=column_name)

# Display the sorted data
print(sorted_data)

In [ ]:
# Answer10.
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas dataframe
data = pd.read_csv(file_path)

# Convert the "Date" column to a Pandas datetime object
data["Date"] = pd.to_datetime(data["Date"])

# Group the data by the product category and date, and sum the sales
grouped_data = data.groupby(["Category", "Date"]).sum()["Sales"]

# Unstack the grouped data to create a pivot table with the product categories as columns
pivot_table = grouped_data.unstack(level=0)

# Create a stacked bar chart of the pivot table
pivot_table.plot(kind="bar", stacked=True)

# Set the chart title and axis labels
plt.title("Sales by Product Category over Time")
plt.xlabel("Date")
plt.ylabel("Sales")

# Display the chart
plt.show()

In [ ]:
# Answer11.
import pandas as pd
from statistics import median, mode

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a Pandas dataframe
data = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = data["Score"].mean()
median_score = median(data["Score"])
mode_score = mode(data["Score"])

# Create a dictionary with the calculated statistics
stats_dict = {"Statistic": ["Mean", "Median", "Mode"], "Value": [mean_score, median_score, mode_score]}

# Create a Pandas dataframe from the dictionary
stats_table = pd.DataFrame(stats_dict)

# Display the table
print(stats_table)