In [61]:
# Answer1. 
import pandas as pd

data = [4, 18, 15, 16, 23, 42]
my_series = pd.Series(data)

print(my_series)

0     4
1    18
2    15
3    16
4    23
5    42
dtype: int64

In [63]:
# Answer2.
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [64]:
# Answer3.
import pandas as pd

data = {
    'Name': ['Alice', 'Bob','Claire'],
    'Age': [25, 30,27],
    'Gender': ['Female', 'Male','Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [65]:
# Answer4.
'''In pandas, a DataFrame is a two-dimensional table-like data structure that consists of rows and columns. It can be thought of as a spreadsheet or a SQL table. Each column in a DataFrame can be of a different data type (e.g., integer, float, string, etc.). DataFrames provide a powerful and flexible way to manipulate and analyze data.

On the other hand, a pandas Series is a one-dimensional labeled array that can contain data of any type (e.g., integer, float, string, etc.). Each element in a Series is labeled with an index, which can be used to access and manipulate the data. A Series is similar to a column in a DataFrame, but without the row labels.

Here's an example to illustrate the difference between a pandas Series and DataFrame:'''

import pandas as pd

# Create a Series
my_series = pd.Series([1, 2, 3, 4])

# Create a DataFrame
my_dataframe = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': ['foo', 'bar', 'baz', 'qux'],
    'C': [0.1, 0.2, 0.3, 0.4]
})

# Print the Series and DataFrame
print(my_series)
print(my_dataframe)

0    1
1    2
2    3
3    4
dtype: int64
   A    B    C
0  1  foo  0.1
1  2  bar  0.2
2  3  baz  0.3
3  4  qux  0.4

In [66]:
# Answer5.
'''Pandas provide a lot of functions to manipulate and transform data in a DataFrame. Here are some commonly used functions:

head() and tail(): to view the first or last n rows of a DataFrame.
describe(): to get statistical summary of the DataFrame.
info(): to get the basic information about the DataFrame such as data type, count of non-null values, etc.
groupby(): to group data based on one or more columns and perform an operation on the groups.
apply(): to apply a function to each element, row or column of the DataFrame.'''
    
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'Salary': [50000, 70000, 60000, 80000, 90000]
}

df = pd.DataFrame(data)

# View the first and last 3 rows
print(df.head(3))
print(df.tail(3))

# Get the statistical summary
print(df.describe())

# Get the basic information
print(df.info())

      Name  Age  Gender  Salary
0    Alice   25  Female   50000
1      Bob   30    Male   70000
2  Charlie   35    Male   60000
      Name  Age  Gender  Salary
2  Charlie   35    Male   60000
3    David   40    Male   80000
4      Eva   45  Female   90000
             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes
None

In [ ]:
# Answer6.
In Pandas, both Series and DataFrame are mutable, while Panel is considered deprecated since 
version 1.0.0 and replaced by multi-dimensional arrays, such as 3D NumPy arrays or xarray.

In [67]:
# Answer7.
import pandas as pd

# Create Series for each column
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['Female', 'Male', 'Male'])

# Create a dictionary of Series
data = {'Name': names, 'Age': ages, 'Gender': genders}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male